body.intro {
}

body.logo-hover {
	cursor: pointer;
}

#info:before {
	content: "ğš";
}

#info {
	z-index: 999;
	position: fixed;
	background: magenta;
	font-size: 32px;
	padding: 4px 8px;
	border-radius: 0 0 0 6px;
	top: 0;
	right: 0;
}
