@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500;600&display=swap');
$dark: #111;
$light: #EEE;

:root {
	--dark: #{$dark};
	--light: #{$light};
}

body {
	background: $dark;
	color: $light;
	font-family: "Fira Code", monospace;
	user-select: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}