@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap");

body {
	margin: 0;
	height: 100vh;
	overflow: hidden;
	background: #090909;
	color: #C4C4C4;
	font-family: "Fira Code", monospace;
	user-select: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.debug,
.debug-alt,
.debug-alt > * {
	outline: 1px solid currentColor;
	background: linear-gradient(
		180deg,
		transparent,
		transparent 49.8%,
		currentColor,
		transparent 50.2%,
		transparent
	),
	linear-gradient(
		to left,
		transparent,
		transparent 49.9%,
		currentColor,
		transparent 50.1%,
		transparent
	);
}