@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500;600&display=swap');

:root {
	--dark: #111;
	--light: #EEE;
	--gray: #888;
	--bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

html {
	will-change: filter;
	transition: filter 1s ease-out;
}

body {
	background: var(--dark);
	color: var(--light);
	font-family: "Fira Code", monospace;
	user-select: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}